h1 {
    text-align: center;
    color:rgb(58, 47, 80);
    
}

body{ 
    background-color: rgb(179, 149, 185);
    text-align: center;
    
}


#nacho {

    width: 200px;
    border-radius: 100%;
    border: 5px solid rgb(136, 75, 136);
    margin: 0 auto;
}

div {
    display: flex;
    margin: 0 auto;

}


h3 {
    text-align: center;
}

p{
    text-align:center;
    margin: auto;
    color: rgb(60, 52, 68);
}
#hobbies {

    text-align: center;

}

.carac {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;;
}

#titulo {

    text-align:center;
    color: rgb(71, 48, 94);


}

a {
    text-align: center;
}

#changeNameButton {
    text-align: center;
}



.contact-form{
    text-align:center;
    margin: auto;
    display: flex;
    justify-content: center;
}